<h2>New Room</h2>

<form action="/rooms/new" method="post">

  <label for="name">Room Name:</label>
  <input type="text" name="name" id="name" />

  <label for="description">Room Description:</label>
  <input type="text" name="description" id="description" />

  <label for="imageUrl">Image:</label>
  <input type="text" name="imageUrl" id="imageUrl" />

  <button type="submit">Add Room</button>

</form>