<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <nav>
      <ul>
        <li id="to-left">
          <p><a href="/">Home</a></p>
        </li>
        <li id="to-right">
          <a href="/rooms/all">See Rooms</a>
          <span> | </span>
          {{#if isLoggedIn}}
            <a href="/rooms/new">Add Room</a>
            <span> | </span>
            <a href="/users/profile">My Profile</a>
            <span> | </span>
            <a href="/auth/logout">Logout</a>
            <span> | </span>
          {{else}}
            <a href="/auth/signup">Sign Up</a>
            <span> | </span>
            <a href="/auth/login">Login</a>
          {{/if}}
        </li>
      </ul>
    </nav>

    {{{body}}}
  </body>
</html>